.hidingExp{
    opacity: 0;
    filter: blur(2px);
    transform: translateX(100%);
    transition: transform 1200ms;
}

.showExp{
    opacity: 1;
    filter: blur(0);
    transform: translateX(24px);
}

h1.hidingExp{
    transition-delay: 200ms;
}

h3.hidingExp{
    transition-delay: 250ms;
}

p.hidingExp{
    transition-delay: 400ms;
}

.expBtn{
    opacity: 0;
    transition: opacity 2s ease;
    transition-delay: 2s;
}
.showExpBtn{
    opacity: 1;
}

.exp{
    h1{
        position: relative;
    }

    h1::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: cornflowerblue;
        transform-origin: left;
        transition: width 200ms ease-in-out;
    }
}

.exp:hover{
    .dot{
        scale: 1.2;
        background-color: cornflowerblue;
        box-shadow: rgb(130, 170, 245) 0px 0px 20px 0px;
        transition: all 200ms ease-in-out;
    }

    h1::after{
        width: 25%;
    }

    h2, h3{
        color: black;
    }
}