.hideFace{
    transform: translateY(-90%);
    transition: all 1s ease-out;
}

.showFace{
    transform: translateY(0);
}

.hideIntro{
    transform: translateX(-100%);
    transition: all 1s ease-out;
}

.hideIntro:nth-child(2){
    transform: translateX(100%);
    transition-delay: 300ms;
}

.showIntro{
    transform: translateX(0) !important;
}


.hideButton{
    opacity: 0;
    transition: all 1000ms;
    transition-delay: 400ms;
}

.showButton{
    opacity: 1;
}

.blurred-img {
    background-image: url(me2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(4px);
  }

.blurred-img::before {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0;
    background-color: white;
}
  
.blurred-img.loaded {
    animation: none;
    content: none;
    filter: none;
}

.blurred-img img {
    opacity: 0;
    transition: all 250ms ease-in-out;
}

.blurred-img.loaded img {
    opacity: 1;
}