.hideFace{
    transform: translateY(-90%);
    transition: all 1s ease-out;
}

.showFace{
    transform: translateY(0);
}

.hideIntro{
    transform: translateX(-100%);
    transition: all 1s ease-out;
}

.hideIntro:nth-child(2){
    transform: translateX(100%);
    transition-delay: 300ms;
}

.showIntro{
    transform: translateX(0) !important;
}


.hideButton{
    opacity: 0;
    transition: all 1000ms;
    transition-delay: 400ms;
}

.showButton{
    opacity: 1;
}

.blurred-img {
    background-image: url(me2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(4px);
  }

.blurred-img::before {
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0;
    background-color: white;
}
  
.blurred-img.loaded {
    animation: none;
    content: none;
    filter: none;
}

.blurred-img img {
    opacity: 0;
    transition: all 250ms ease-in-out;
}

.blurred-img.loaded img {
    opacity: 1;
}
  


.tooltip{
    position: relative;
    display: flex;
    justify-content: center;
}  

.tooltip .tooltiptext {
  visibility: hidden;
  width: max-content;
  background-color: rgb(38,38,38);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
 
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(38,38,38) transparent transparent transparent;
}
  
@media (min-width: 1024px){
    .tooltip:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
        transform: translateY(-50px);
    }
}