@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    html,
    :host {
    -webkit-tap-highlight-color: transparent; /* Disable tap highlights */
    }
    
    .pdfembed {
        width: 95%;
        aspect-ratio: 1/1.41;
        max-width: 550px;
        margin-top: 2px;
    }
    
    .socialinks {
        @apply mx-1 sm:mx-[0.3rem] lg:hover:text-blue-400 lg:hover:border-blue-400 transition-all border border-gray-600 rounded-full w-6 h-6 p-[10px] sm:w-9 sm:h-9 sm:p-4 lg:w-6 lg:h-6 lg:p-[10px] 2xl:w-7 2xl:h-7 2xl:p-3;
    }

    .childrenDiv{
        @apply rounded-full bg-gray-50 p-2 w-[85px] aspect-square flex justify-center bg-opacity-70;
    }

    .childrenPara{
        @apply text-center font-outfit mt-1 font-medium;
    }
}

::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }