@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    html,
    :host {
    -webkit-tap-highlight-color: transparent; /* Disable tap highlights */
    user-select: none;
    }
    
    .pdfembed {
        width: 95%;
        aspect-ratio: 1/1.41;
        max-width: 550px;
        margin-top: 2px;
    }
    
    .scalebtn:active{
        path{
            @apply scale-75 duration-500 origin-center;
        }
    }

    .socialinks {
        @apply mx-1 sm:mx-[0.3rem] lg:hover:text-blue-400 lg:hover:bg-slate-50 lg:hover:border-blue-400 active:bg-slate-100 transition-all border border-gray-600 rounded-full w-6 h-6 p-[10px] sm:w-7 sm:h-7 sm:p-4 lg:w-6 lg:h-6 lg:p-[10px] 2xl:w-7 2xl:h-7 2xl:p-3;
    }

    .childrenDiv{
        @apply rounded-full bg-gray-50 p-2 w-[85px] aspect-square flex justify-center bg-opacity-70;
    }

    .childrenPara{
        @apply text-center font-outfit mt-1 font-medium;
    }
}

::-webkit-scrollbar {
    display: none;
  }

  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
  }  
  
  /* Hide scrollbar for IE, Edge and Firefox */
  html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  /* Hide scrollbar for all elements */
* {
    scrollbar-width: none; /* For Firefox */
  }