.hidingPrj{
    opacity: 0;
    filter: blur(23px);
    transform: translateY(-100%);
    transition: opacity 1200ms, filter 1200ms, transform 1200ms;
}

.showPrj{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.hidingPrj:nth-child(2){
    transition-delay: 600ms;
}

.hidingPrj:nth-child(3){
    transition-delay: 1200ms;
}

.hidingPrj:nth-child(4){
    transition-delay: 1800ms;
}

@media(min-width: 1080px){
    .slick-prev::before, .slick-next::before{
        color: black !important;
      }
  }

.slick-slide{
    transform: scale(0.90);
    transition: all 400ms ease-in-out;
    padding-bottom: 10px;
}
  
.slick-center{
    transform: scale(1);
    opacity: 1;
}